* {
  box-sizing: border-box;
}

/* body {
    background: url(images/12_col.gif) center top repeat-y;
    background-size: 100%;
} */

#main-content {
  display: grid;
  width: 100%;
  height: auto;
  margin: 0 auto;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 2.08%;
  row-gap: 10px;
}

header {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

#top-of-header {
  background-color: #574c40;
  display: flex;
  justify-content: space-between;
}

#some-top-of-header {
  display: flex;
  padding: 5px;
  padding-left: 30px;
}

.top_logga_facebook {
  width: 30px;
}

.top_logga_instagram {
  width: 30px;
  margin-left: 10px;
}

/* Text-inställningar på toppen av sidan, nedan */
div #information-top-of-header {
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}

#information-top-of-header ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#information-top-of-header li {
  flex-direction: row;
  padding: 4px 10px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

#information-top-of-header ul li:last-child {
  margin-right: 30px;
}

/* START MENY & LOGGA */
#meny nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d6bb9f;
  height: 90px;
}

.sussie_logga {
  width: 250px;
  padding: 0;
  margin-left: 80px;
  margin-top: 80px;
  /* position: relative;
    top: 5px; */
  z-index: 2;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  border-right: #574c40 solid 1px;
  padding-right: 16px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

nav ul li:last-child {
  border-right: none;
  padding-right: 0;
}

nav ul li a:hover {
  border-bottom: solid 3px #ffffff;
}

/* BURGER MENY */
#mySidepanel {
  display: none;
}
.openbtn {
  display: none;
}
/* BURGER MENY END s*/

/* HÄR BÖRJAR STOR BILD & RUBRIK */
.bild_sida_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/hair_cut.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -15px;
  z-index: 1;
  grid-column: 1 / -1;
}

.rubrik_sida_2 {
  font-size: 50px;
  font-family: "Playball", cursive;
  color: #f7f4f2;
  text-align: center;
  padding-top: 240px;
  padding-bottom: 10px;
}

.text_sida_2 {
  color: #f7f4f2;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 60px;
}

.text_sida_2_mobil {
  color: #f7f4f2;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 60px;
  display: none;
}

/* DOLD SAX-IKON */
.bild_sax_först {
  display: none;
}

/* HÄR BÖRJAR DEL - INTRO */
.intro_behandlingar_rubrik {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

.intro_behandlingar_text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
  font-size: 20px;
  text-align: justify;
}

/* HÄR BÖRJAR DEL OM BEHANDLINGAR/PRISER */
.klippning {
  grid-column: 2 / 9;
  padding: 10px 60px 10px 20px;
}

.rubrik_klipp {
  font-family: "Quicksand", sans-serif;
  font-size: 27px;
}

.text_klipp1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 19px;
  line-height: 1.5;
  text-align: justify;
}

.text_klipp2 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}

/* ÖPPETTIDER */
.sidebar_big {
  grid-column: 9 / -2;
}

.sidebar_öppettider {
  /* grid-column: 9 / -2; */
  background-color: #58628a;
  padding: 0 10px 40px 10px;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.rubrik_öppettider {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #f7f4f2;
  font-weight: bold;
  padding-right: 20px;
}

.tabell_öppettider {
  font-family: "Quicksand", sans-serif;
  color: #f7f4f2;
}

.button_öppettider {
  margin: 0 auto;
  margin-top: 20px;
  padding: 7px 0;
  font-family: "Playball", cursive;
  font-size: 20px;
  width: 75%;
  border: none;
  border-radius: 4px;
}

.button_öppettider a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* PRODUKTER */
.sidebar_produkter {
  /* grid-column: 9 / -2; */
  background-color: #58628a;
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.rubrik_produkter {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #f7f4f2;
  padding-bottom: 30px;
}

.lanza_logga {
  width: 90%;
  margin: auto;
}

.loreal_logga {
  width: 90%;
  margin: auto;
}

.obh_logga {
  width: 90%;
  margin: auto;
}

.ghd_logga {
  width: 80%;
  margin: auto;
}

/* AVSKILJARE - KAM */
.bild_sax {
  /* grid-column: 2 / 9; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0;
}

.bild_kam {
  width: 35%;
}

/* FÄRGNINGAR */
.färgning {
  margin-top: 20px;
  /* grid-column: 2 / 9; */
}

.rubrik_färgning {
  font-family: "Quicksand", sans-serif;
  font-size: 27px;
}

.text_färg1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.rubrik_olaplex {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 27px;
}

.text_färg2 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}

/* HÄR BÖRJAR FOOTER */
footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 2.08%;
  background-color: #d6bb9f;
}

.box1 {
  grid-column: 2 / 5;
  margin-top: 10px;
  /* margin-left: 60px; */
}

.logga_footer {
  width: 80%;
  padding-right: 10px;
}

.box1_5 {
  display: none;
}

/* Del om adress i footer */
.box2 {
  grid-column: 5 / 8;
  margin-top: 10px;
  /* margin-left: 120px; */
  padding-left: 50px;
  padding-top: 10px;
}

.box2 h3 {
  font-family: "Quicksand", sans-serif;
  color: #f7f4f2;
  font-size: 25px;
}

.adress {
  font-family: "Quicksand", sans-serif;
  color: #f7f4f2;
  font-size: 19px;
}

/* Del om kontakt i footer */
.box3 {
  grid-column: 8 / -2;
  margin-top: 10px;
  padding: 10px;
  margin-left: 60px;
}

.box3 h3 {
  font-family: "Quicksand", sans-serif;
  color: #f7f4f2;
  font-size: 25px;
}

.kontakt {
  font-family: "Quicksand", sans-serif;
  color: #f7f4f2;
  font-size: 19px;
}

/* Del om sociala medier i footer */
.box4 {
  grid-column: 4 / 10;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.logga_mail_footer {
  width: 40px;
}

.logga_fb_footer {
  width: 40px;
}

.logga_insta_footer {
  width: 40px;
}

/* Del om upphovsrätt i footer */
.box5 {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #574c40;
  margin-top: 25px;
  column-gap: 10px;
}

.upphovsrätt {
  color: #f7f4f2;
  font-family: "Quicksand", sans-serif;
}

/* Del som visar datum och tid -  footer */
.time {
  font-family: "Quicksand", sans-serif;
  color: #f2f2f2;
}

/* START MED ANPASSNING FÖR MINDRE SKÄRMAR */
@media screen and (max-width: 1010px) {
  nav ul {
    margin-right: 30px;
  }
  nav ul li a {
    font-size: 14px;
  }
  nav ul li {
    margin-right: 5px;
  }

  .sussie_logga {
    margin-left: 40px;
    top: -8px;
  }

  .rubrik_sida_2 {
    font-size: 45px;
    padding-top: 160px;
  }

  .intro_behandlingar_text,
  .text_klipp1,
  .text_färg1,
  .text_färg2 {
    font-size: 17px;
  }

  .adress,
  .kontakt {
    font-size: 16px;
  }

  .box3 {
    margin-left: 20px;
  }

  .tabell_öppettider {
    font-size: 12px;
  }
}

@media screen and (max-width: 825px) {
  #information-top-of-header ul li {
    font-size: 12px;
  }

  #meny nav {
    height: 65px;
  }

  nav ul {
    margin-right: 10px;
  }
  nav ul li a {
    font-size: 13px;
  }
  nav ul li {
    margin-right: 3px;
  }

  .sussie_logga {
    width: 170px;
    margin-left: 16px;
    top: -3px;
  }

  .rubrik_sida_2 {
    font-size: 35px;
    padding-top: 110px;
  }

  .text_sida_2 {
    font-size: 15px;
    font-weight: normal;
  }

  .klippning,
  .färgning {
    grid-column: 2 / 8;
    padding-right: 30px;
  }

  .text_klipp1,
  .text_färg1 {
    text-align: left;
  }

  .text_klipp2,
  .text_färg2 {
    font-size: 15px;
    text-align: left;
  }

  .sidebar_big {
    grid-column: 8 / -2;
  }

  .sidebar_öppettider {
    margin-bottom: 30px;
  }

  .adress,
  .kontakt {
    font-size: 14px;
  }

  .box1 {
    display: none;
  }

  .box2 {
    grid-column: 2 / 7;
  }

  .box3 {
    grid-column: 7 / -2;
  }

  .box1_5 {
    grid-column: 2 / 7;
    display: grid;
  }
  .logga_footer_liten_skärm {
    width: 40%;
    margin-left: 35px;
  }

  .box4 {
    grid-column: 7 / -2;
    /* display: flex;
        justify-content: end; */
    padding: 2px 2px 2px 50px;
    margin-top: 35px;
  }
  .logga_mail_footer {
    width: 30px;
  }
  .logga_fb_footer {
    width: 30px;
  }
  .logga_insta_footer {
    width: 30px;
  }

  .box5 {
    margin-top: 20px;
  }

  .upphovsrätt,
  .time {
    font-size: 12px;
  }
}

@media screen and (max-width: 660px) {
  body {
    overflow-x: hidden;
  }

  #information-top-of-header ul {
    display: none;
  }

  .sussie_logga {
    width: 170px;
    margin-left: 0px;
    margin-top: 60px;
  }

  #meny nav {
    height: 55px;
  }

  /* Burger meny start */
  .nav-top {
    display: none;
  }

  #mySidepanel {
    display: block;
  }

  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 5;
    right: 0;
    background-color: #574c40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepanel a {
    padding: 8px 32px 8px 8px;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidepanel a:hover {
    color: #f1f1f1;
  }

  .sidepanel,
  .closebtn {
    position: absolute;
    top: 5;
    right: 9px;
    font-size: 36px;
  }

  .openbtn {
    display: block;
    font-size: 18px;
    cursor: pointer;
    background-color: #58628a;
    color: white;
    padding: 8px 13px;
    border: none;
    border-radius: 7px;
  }

  .openbtn:hover {
    background-color: #574c40;
  }

  /* Burger meny end */

  .bild_sida_2 {
    background-size: 140%;
  }

  .rubrik_sida_2 {
    font-size: 35px;
    padding-top: 90px;
  }

  .text_sida_2 {
    display: none;
  }

  .text_sida_2_mobil {
    font-size: 15px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    display: block;
  }

  .klippning {
    grid-column: 2 / -2;
  }

  .sidebar_big {
    grid-column: 2 / -2;
    margin-bottom: 50px;
  }

  .tabell_öppettider {
    font-size: 17px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .bild_sax_först {
    display: grid;
    grid-column: 3 / -3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bild_kam_först {
    width: 30%;
  }

  .bild_sax {
    display: none;
  }

  .lanza_logga,
  .loreal_logga,
  .obh_logga {
    width: 80%;
    margin: auto;
  }

  .ghd_logga {
    width: 60%;
    margin: auto;
  }

  .färgning {
    grid-column: 2 / -2;
  }

  .adress,
  .kontakt {
    font-size: 21px;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .logga_footer_liten_skärm {
    align-items: center;
    margin: auto;
  }

  .box2,
  .box3,
  .box4,
  .box1_5 {
    margin: auto;
    text-align: center;
  }

  .box2 {
    margin: auto;
    padding: 0 10px 0 0;
  }

  .box3 {
    margin: auto;
    padding: 0;
  }

  .box4 {
    padding-right: 50px;
  }

  .logga_fb_footer,
  .logga_insta_footer,
  .logga_mail_footer {
    width: 50px;
  }
}
